<div class="mt-1">
    <div class="m-3">
        <h3 class="display-1 mb-5 text-align-center">
            Software engineering power couple
        </h3>
        <div class="d-flex mt-2">
            <p class="w-25 h-25 display-4 text-center container">Creative solutions for your business...</p>


            <p class="m-3">
                Art Official Intelligence specialize in turning bold visions into reality. Founded by a team of seasoned
                software engineers, we are dedicated to delivering high-quality web application development and
                comprehensive cloud services. Our mission is to empower businesses of all sizes to scale, innovate, and
                succeed in today's dynamic digital landscape. Our expertise lies in creating scalable, secure, and
                user-centric web applications that drive business growth and enhance user engagement.
            </p>
        </div>

    </div>
    <div class="d-flex justify-content-center m-3 ">

        <p class="display-6 mt-1">Design | Web development | Cloud integration | Devops</p>

    </div>
    <img src="./assets/kenny-eliason-IhsaTDKzdwg-unsplash.jpg" class="img-fluid" alt="hands-typing-laptop">


    <div class="d-flex m-3">
        <p class="m-3 align-self-center"> The tech power couple for your business. 
            
            We are committed to working closely with our clients to understand their
            unique challenges and
            objectives. Whether you're looking to develop a new web application from scratch, migrate your services
            to the cloud, or enhance your existing platforms, we have the skills and experience to help you achieve
            your goals.

            Let's build something great together! Discover how Art Official Intelligence can transform your business
            with next-generation web and cloud solutions.</p>
    </div>

</div>